<div id="maindiv">
<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-3" style="width: 18rem;"  *ngFor='let temp of hospitals'>
            <img src="assets/{{temp.id}}.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{temp.name}}</h5>
                <p class="card-text">{{temp.address}}</p>
                <p class="card-text">{{temp.state}}</p>
                <p class="card-text">{{temp.zip}}</p>
                <div><a [routerLink]="['/app-hospital-info', temp.id]" class="btn btn-success">Details</a></div>
            </div>
        </div>
    </div>
</div>
</div>