<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-3" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cutters Hospital</h5>
                <p class="card-text">Address: 350 Driver dr, Tampa, FL, 11228</p>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <div><a routerLink='/app-hospital-info' class="btn btn-primary">Hosp info</a></div>
            </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cozy Hospital</h5>
                <p class="card-text">Address: 478 Plastic str, Tampa, FL, 45689</p>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <div><a routerLink='/app-hospital-info' class="btn btn-primary">Hosp info</a></div>
            </div>
        </div>
        <div class="card col-3" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/1282308/pexels-photo-1282308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Some Hospital</h5>
                <p class="card-text">Address: 6098 Ocean ave, Tampa, FL, 63490</p>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <div><a routerLink='/app-hospital-info' class="btn btn-primary">Hosp info</a></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-3" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/42273/doctor-medical-medicine-health-42273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cutters Hospital</h5>
                <p class="card-text">Address: 350 Driver dr, Tampa, FL, 11228</p>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <div><a routerLink='/app-hospital-info' class="btn btn-primary">Hosp info</a></div>
            </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cozy Hospital</h5>
                <p class="card-text">Address: 478 Plastic str, Tampa, FL, 45689</p>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <div><a routerLink='/app-hospital-info' class="btn btn-primary">Hosp info</a></div>
            </div>
        </div>
        <div class="card col-3" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/1050306/pexels-photo-1050306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Some Hospital</h5>
                <p class="card-text">Address: 6098 Ocean ave, Tampa, FL, 63490</p>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <i class="material-icons">grade</i>
                <div><a routerLink='/app-hospital-info' class="btn btn-primary">Hosp info</a></div>
            </div>
        </div>
    </div>
</div>